.FondoPaginas{
    background-image: url(../img/paisaje.jpg);
    background-repeat: repeat-y;
    font-size: 10px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedorInformacion{
    height: 30em;
    width: 20em;
    background-color: hsla(0, 0%, 100%, .3);
    border: .5px solid hsla(0, 0%, 100%, .5);
    margin: 2em;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: -1;
    color: black;
}
.Iconoedad{
    font-size: 5em;
    margin-bottom: .8em;
    margin-top: .8em;
    color: black;
}
.textoEdad{
    font-size: 10em;
    font-weight: 900;
    color: black;
}
.libro{
    font-size: 5em;
    margin: .8em;
    color: black;
}
.contenedorInformacion ul{
    margin: 2em;
}
.contenedorInformacion ul li{
    margin: .7em;
    font-size: 2em;
    font-weight: 900;
    z-index: -1;
    color: black;
}
.IconoNombre{
    font-size: 4.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
}
.textoNombre{
    font-size: 2em;
    margin-top: 1em;
    font-weight: 900;
    font-size: 4em;
    color: black;
}
.iconoTelefono{
    font-size: 4em;
    margin: 1em;
    color: black;
}
.Telefono{
    margin-top: 3.5em;
    color: black;
}
.sobre{
    font-size: 4em;
    margin: 1em;
    color: black;
}
.correo{
    font-size: 2em;
}
.fotoCorreo{
    width: 18em;
    margin-top: 4em;
}


