*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{ 
   height: 100%;
   width: 100%;
   font-size: 10px;
}

.FondoIndex{
    background-image: url(../img/fondoCodigoProgramacion.png);
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}
#tituloPrincipal{
    background-color: white;
}
.titulos{
    font-size: 7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    border-radius: 10px;
    margin-top: .5em;  
    color: black;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


header{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
}
.mainIndex{
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 0;
}
.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    width: 95%;
}
.cabeceraMain{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    position: relative;
    border: .5em solid hsla(0, 0%, 0%, 1);
    height: 100px;
    width: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: width .2s, height .2s, transform .2s;
    border-radius: 15%;
    text-transform: uppercase;
    animation-duration: .3s;
}
.formulario{
    border: 1px solid black;
    margin-top: 20em;
    margin-left: 5em;
}
#rojo{
    border: .4em solid hsla(3, 100%, 60%, 1);
}
#rojo > p{
    color: hsla(3, 100%, 60%, 1);
}
#azul{
    border: .4em solid hsla(189, 100%, 55%, 1);
}
#azul > p{
    color: hsla(189, 100%, 55%, 1);
}
#verde{
    border: .4em solid hsla(142, 100%, 60%, 1);
}
#verde > p{
    color: hsla(142, 100%, 60%, 1);
}
#violeta{
    border: .4em solid hsla(280, 81%, 68%, 1);
}
#violeta > p{
    color: hsla(280, 81%, 68%, 1);
}
#amarillo{
    border: .4em solid hsla(62, 65%, 66%, 1);
}
#amarillo > p{
    color: hsla(62, 65%, 66%, 1);
}

.boton:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.boton:hover > p{
    color: hsla(0, 0%, 100%, 1);
}
a{
    text-decoration: none;
}
a > .boton > p{
    color: hsla(0, 0%, 0%, 1);
    font-size: 2.5em;
    font-weight: 900;
}
.PieRedes{
    height: 10vw;
    width: 100%;
    margin-bottom: 1px;
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    background-color: #0082e6;
    position: relative;
}
.PieRedes a img{
    height: 4em;
    width: 4em;
    margin-left: 8em;
    transition: .3s;
}
.PieRedes a img:hover{
   transform: scale(1.2);
}

.menu{
    background-color: hsla(0, 0%, 100%, .1);
    height: 80px;
    width: 100%;
    backdrop-filter: blur(20px);
    border: 0.5px solid hsla(0, 0%, 100%, .5);
}
.logo{
    color: hsla(0, 0%, 0%, 1);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
.menu ul{
    float: right;
    margin-right: 20px;
}
.menu ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; 
}
.menu ul li a{
    color: hsla(0, 0%, 0%, 1);
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
.menu a.active, .menu a:hover{
    background-color: hsla(0, 0%, 100%, .4);
    transition: .5s;
}
label img{
    height: 40px;
    width: 40px;
}
.checkbtn{
    font-size: 30px;
    color: hsla(0, 0%, 100%, 1);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
} 

@media (max-width: 1267px){
    .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .menu ul li a{
        font-size: 16px;
    }
}
@media (max-width: 1048px){
    .checkbtn{
        display: block;
    }
    .menu  ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: hsla(210, 45%, 24%, 1);
        top: 80px;
        text-align: center;
        left: -100%;
        transition: all .5s;
    }
    .menu ul li{
        display: block;
    }
    .menu ul li a{
        font-size: 2em;
        margin: 50px 0;
    }
    a:hover,a:active{
        background: none;
        color :#0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width: 720px){
    .titulos{
        font-size: 4em;
    }
}
@media (max-width: 647px){
    .PieRedes a img{
        margin-left: 6em;
    }
}
@media (max-width: 550px){
    .PieRedes a img{
        margin-left: 4em;
    }
}
@media (max-width: 534px){
    .titulos{
        font-size: 3em;
    }
    .boton{
        height: 5em;
        width: 10em;
    }
     a .boton p{
        font-size: 1.3em;
    }
}
@media (max-width: 421px){
    .PieRedes a img{
        margin-left: 1em;
        height: 3em;
        width: 3em;
    }
}



@media (max-width: 354px){
    .logo{
        display: none;
    }
    
}
@media (max-width: 276px){
    .titulos{
        font-size: 2em;
    }
    
}
@media (max-width: 210px){
    .PieRedes a img{
        margin-left: 1em;
        height: 2em;
        width: 2em;
    }
}
